@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

$font:  "Rye", serif;
$font2: "Roboto Condensed", sans-serif;


* {
    margin: 0;
    padding: 0;
}

.titulo-bruto{
    font-family: $font;
}

.titulo-robo{
    font-family: $font2;
}

h1{
    text-align: center;
}

.navbar{
    background-color: #171a21 !important;
    font-size: 35px;
}

.logo {
    margin-left: 2%;
    width: 20%;
    height: 20%;
}

input,
textarea {
    width: 90%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.centro {
    text-align: center;
    align-items: center;
}

.footer {
    position: relative;
    bottom: 0%;
    background: black;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 100%;
    color: white;
    text-align: center;
}

body{
    background-color: #1b2838 !important;
}

.logocavera {
    height: 8%;
    width: 8%;
}

.flex-equipe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .flex-colunas-equipe{
        width: 30%;
        margin: 10%;
        text-align: center;
        border-radius: 5%;
        background-color: #c7d5e0;
        img{
            border-top-left-radius: 5%;
            border-top-right-radius: 5%;
        }
    }
}

.flex-home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .flex-colunas-home{
        width: 30%;
        margin: 10%;
        text-align: center;
        border-radius: 5%;
        background: #c7d5e0;
        img{
            width: 100%;
            border-top-left-radius: 5%;
            border-top-right-radius: 5%;
        }
    }
}

.btn-primary{
    background: #2a475e !important;
    color: #c7d5e0 !important;
    border: 1px solid #2a475e !important;
    font-family: $font2 !important;
    &:hover{
        transition: 0.5s;
        background: #1b2838 !important;
        border: 1px solid #1b2838 !important;
    }
}

.btn-warning{
    background: rgb(211, 207, 1) !important;
    color: black !important;
    border: 1px solid rgb(211, 207, 1) !important;
    font-family: $font2 !important;
    &:hover{
        transition: 0.5s;
        background: rgb(151, 149, 1) !important;
        border: 1px solid rgb(151, 149, 1) !important;
    }
}

.espaco-capa{
    margin-bottom: 10px;
}

.logo-erro{
    width: 70%;
}

.texto-erro{
    font-size: 30px;
    color: #c7d5e0;
}

.titulo-equipe{
    font-size: 70px;
    color: #c7d5e0;
}

.texto-equipe{
    font-size: 40px;
}

.texto-jogos{
    text-align: center;
    font-size: 20px;
    color: #c7d5e0;
    list-style: none;
}

.espacinho{
    padding-top: 20%;
    padding-bottom: 5%;
}

.foto-equipe{
    width: 100%;
}

.capa{
    max-width: 30%;
    max-height: 30%;
    align-items: left;
    margin-left: 3%;
    margin-right: 3%;
}
  
.container-capa{
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: left;
    display: flex;
}

.banner {
    width: 100%;
    max-height: 10%;
    height: auto; 
}

@media (max-width: 700px){
    .flex-equipe{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .flex-colunas-equipe{
            width: 80%;
            margin: 20%;
            text-align: center;
            border-radius: 5%;
            background-color: #c7d5e0;
            img{
                border-top-left-radius: 5%;
                border-top-right-radius: 5%;
            }
        }
    }

    .flex-home{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .flex-colunas-home{
            width: 80%;
            margin: 20%;
            text-align: center;
            border-radius: 5%;
            background: #c7d5e0;
            img{
                border-top-left-radius: 5%;
                border-top-right-radius: 5%;
            }
        }
    }
}