@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: "Pirata One", system-ui;
}

.nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;

    .nav-list {
        list-style: none;
        display: flex;

        li {
            margin-left: 16px;
            margin-right: 16px;
        }

        a {
            text-decoration: none;
            list-style: none;
            color: white;
            font-size: x-large;

            &:hover{
                color: goldenrod;
                transition: 0.5s;
            }
        }
    }
}

body{
    background-image: url(../imagem/mar.png);
}

.logo {
    margin-left: 2%;
    width: 20%;
    height: 20%;
}

input,
textarea {
    width: 90%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

button {
    background-color: cyan;
    color: black;
    padding: 10px;
    border: 0;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    transition: 0.5s;
    background-color: goldenrod;
    color: black;
}

.centro {
    text-align: center;
    align-items: center;
}

.footer {
    position: relative;
    bottom: 0%;
    background: black;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 100%;
    color: white;
    text-align: center;
}

.logocavera {
    height: 8%;
    width: 8%;
}

.flex-equipe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .flex-colunas-equipe{
        width: 80%;
        margin: 20%;
        box-shadow: 0 0 32px #ccc;
        text-align: center;
        border-radius: 5%;
        background-color: white;
        img{
            border-top-left-radius: 5%;
            border-top-right-radius: 5%;
        }
    }
}

.flex-home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .flex-colunas-home{
        width: 30%;
        margin: 5%;
        box-shadow: 0 0 32px #ccc;
        text-align: center;
    }
}

.botao{
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
}

.logo-erro{
    width: 70%;
}

.texto-erro{
    font-size: 50px;
    color: white;
}

.texto-equipe{
    font-size: 40px;
}

.espacinho{
    padding-top: 20%;
    padding-bottom: 5%;
}

.foto-equipe{
    width: 100%;
}